# Database Configuration
DB_NAME=budgetor
DB_USER=postgres
DB_PASSWORD=db_password
DB_HOST=localhost
DB_PORT=5432

# Connection Pool Configuration
DB_MIN_CONNECTIONS=1
DB_MAX_CONNECTIONS=10 

# JWT Secret Key
JWT_SECRET_KEY=top_secret_key